<!DOCTYPE html>
<html>
  <head>
    <title>ElasticSearch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'react' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'react' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
